/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600;700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import 'variaveis.scss';


body {
    color: red;
    margin:2.21rem;
    padding-top: 50px;
    background-color: $cor-de-fundo;
}

* {
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}